.cart-empty{
    text-align: center;
    padding: 50px;
    padding-top: 0px;
}
.cart-empty img{
    height: 300px;
    width: 300px;
    opacity: .7;
}
.cart-empty p{
    margin-bottom: 40px;
}

.cart-empty a button{
    padding: 20px;
}
.col-cart{
    margin-bottom: 50px;
}
.product-name{
    line-clamp: 2;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

p.price-real{
    margin: 0px;
}
.display-money{
    display: flex;
    justify-content: space-between;
}

.btn-cart-totals{
    border: 3px solid #0068C8; 
    border-radius: 10px;
}
.thanh-toan{
    font-size: 14px;
}
.final-total{
    font-size: 16px;
    color: #DD2831;
}
.btn-thanh-toan{
    margin-top: 20px;
    width: 100%;
    padding: 20px;
    text-transform: uppercase;
    font-size: 15px;
}
