.title-product-detail{
    width: 100%;
    height: 100px;
    background: #F6F6F6;
    display: flex;
    align-items: center;
}
.title-product-detail p{
    margin: 0;
}

.countdown{
    display: flex;
    margin: 20px 0px;
}
.countdown .btn-time{
    padding: 5px 10px;
    margin-right: 10px;
    background: #0068C8;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    min-width: 70px;
    min-height: 70px;
    font-size: 30px;
    
    @media (max-width: 1279px) {
        min-width: 46px;
        min-height: 46px;
        border-radius: 5px;
        font-size: 16px;
    }
    
    @media (max-width: 480px) {
        min-width: 50px;
        min-height: 50px;
        font-size: 18px;
    }
}
.col-info{
    font-size: 16px;
    padding: 30px;
}
.countdown .btn-time .time-number{
    margin: 0px;
    font-weight: 800;
}

.countdown .btn-time .time-text{
    margin: 0px;
    font-size: 0.5em;

    @media (max-width: 1279px) {
        font-size: 12px;
    }
}
.thong-tin{
    font-size: 16px;
    padding-left: 15px;
}
.thong-tin ul li{
    list-style-type:disc;
    color: #848484;
}
.table-size:hover{
    color: #0068C8;
}
.ant-modal-body img{
    width: 100%;
}
